@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";
:root {
    --color-rocket: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: grey;
    font-family: 'Roboto', sans-serif;
    color: khaki;
}

header {
    padding: 30px;
    border-bottom: 1px solid black;
    background: rgba(0, 0, 0, 0.1);
}

header div {
    text-align: left;
}

header div a {
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin: 0 30px;
    text-decoration: initial;
}

header div a:hover {
    color: red;
    transition: color 250ms;
}

#imagem-logo {
    text-align: center;
}

#imagem-logo img {
    border-radius: 100%;
    border: 3px solid black;
    margin-bottom: 0px;
    height: 250px;
}

.links {
    text-align: center;
}

#texto {
    text-align: center;
    padding: 30px;
}

#texto h1 {
    font-size: 42px;
    line-height: 100px;
    color: white;
}


/* Cards */

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color-rocket);
}

.card__image-container img {
    width: 100%;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}


/* Modal */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}


/* Modal Active */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}